<!--documentation: https://docs.oracle.com/cd/E24329_01/web.1211/e21049/web_xml.htm#CIHFAIDA-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

<!--    <error-page>-->
<!--        <error-code>404</error-code>-->
<!--        <location>/index.jsp</location>-->
<!--    </error-page>-->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>static/jsp/jspTest.jsp</welcome-file>
    </welcome-file-list>
<!--    <display-name>Quick Servlet Demo Application</display-name>-->

<!--    <servlet>-->
<!--        <servlet-name>MyFirstServlet</servlet-name>-->
<!--        <servlet-class>com.example.servlets.MyFirstServlet</servlet-class>-->
<!--    </servlet>-->

<!--    <servlet-mapping>-->
<!--        <servlet-name>MyFirstServlet</servlet-name>-->
<!--        <url-pattern>/my-servlet-test/*</url-pattern>-->
<!--    </servlet-mapping>-->



<!--filter ordering can be defined ONLY in the web.xml-->
<!--the order is the actual declaration order of `<filter></filter>` tags-->

<!--    <filter>-->
<!--        <filter-name>firstMyServletFilter</filter-name> &lt;!&ndash; mandatory &ndash;&gt;-->
<!--        <filter-class>com.example.filter.MyServletFilter</filter-class> &lt;!&ndash; mandatory &ndash;&gt;-->
<!--        <init-param> &lt;!&ndash; optional &ndash;&gt;-->
<!--            <param-name>test</param-name>-->
<!--            <param-value>testValue</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->


<!--    <filter>-->
<!--        <filter-name>secondMyServletFilter</filter-name> &lt;!&ndash; mandatory &ndash;&gt;-->
<!--        <filter-class>com.example.filter.MyServletFilter2</filter-class> &lt;!&ndash; mandatory &ndash;&gt;-->
<!--        <init-param> &lt;!&ndash; optional &ndash;&gt;-->
<!--            <param-name>test1</param-name>-->
<!--            <param-value>testValue2</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>firstMyServletFilter</filter-name> &lt;!&ndash; mandatory &ndash;&gt;-->
<!--        <url-pattern>/*</url-pattern> &lt;!&ndash; either url-pattern or servlet-name is mandatory &ndash;&gt;-->
<!--        <servlet-name>MyFirstServlet</servlet-name>-->
<!--    </filter-mapping>-->

<!--    <filter-mapping>-->
<!--        <filter-name>secondMyServletFilter</filter-name> &lt;!&ndash; mandatory &ndash;&gt;-->
<!--        <url-pattern>/*</url-pattern> &lt;!&ndash; either url-pattern or servlet-name is mandatory &ndash;&gt;-->
<!--        <servlet-name>MyFirstServlet</servlet-name>-->
<!--    </filter-mapping>-->

<!--    <listener>-->
<!--        <listener-class>com.example.listener.MyServletListener</listener-class>-->
<!--    </listener>-->


<!--    global session timeout can be configured ONLY in the web.xml as below-->
<!--    <session-config>-->
<!--        <session-timeout>30</session-timeout>-->
<!--    </session-config>-->
</web-app>